@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: var(--vscode-editor-background, hsl(0 0% 100%));
        --foreground: var(--vscode-editor-foreground, hsl(240 10% 3.9%));

        --popover: var(--vscode-editor-background, hsl(0 0% 100%));
        --popover-foreground: var(--vscode-editor-foreground, hsl(240 10% 3.9%));

        --primary: var(--vscode-button-background, hsl(240 5.9% 10%));
        --primary-foreground: var(--vscode-button-foreground, hsl(0 0% 98%));
        --primary-hover: var(--vscode-button-hoverBackground, hsl(240 5.9% 10% 90%));

        --secondary: var(--vscode-button-secondaryBackground, hsl(240 4.8% 95.9%));
        --secondary-foreground: var(--vscode-button-secondaryForeground, hsl(240 5.9% 10%));
        --secondary-hover: var(--vscode-button-secondaryHoverBackground, hsl(240 4.8% 95.9% 90%));

        --muted: var(--vscode-editorLineNumber-foreground, hsl(240 3.8% 46.1%));
        --accent: var(--vscode-settings-rowHoverBackground, hsl(240 4.8% 95.9%));
        --border: var(--vscode-editorGroup-border, hsl(240 5.9% 90%));
        --ring: var(--vscode-editor-foreground, hsl(240 10% 3.9%));

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground p-0;
    }
}
